# .github/workflows/docker-build-mirroring.yml
name: Build and Push Docker Image for Mirroring

on:
  push:
    tags:
      - 'mirroring-*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Extract metadata for Docker
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: getastra/mirroring
        flavor: |
          latest=true
          prefix=
          suffix=

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: ./integrations/mirroring
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        build-args: |
          GO_VERSION=${{ vars.GO_VERSION }}
          SURICATA_VERSION=${{ vars.SURICATA_VERSION }}

    - name: Post build info
      run: echo "Docker image for mirroring built and pushed with tags ${{ steps.meta.outputs.tags }}"